@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700");

body {
}

/* Layout */
.ba-container {
  max-width: 1200px;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button {
  transition: color 0.3s ease-in, border-color 0.3s ease-in,
    background-color 0.3s ease-in, opacity 0.3s ease-in;
}

input[type="submit"],
input[type="button"],
button,
.ba-button {
  display: inline-block;
}

input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover {
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
  transition: color 0.3s ease-in, border-color 0.3s ease-in,
    background-color 0.3s ease-in, opacity 0.3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {
}

textarea {
}

body {
  background-color: #e3ebec;
  margin-right: auto;
  margin-left: auto;
  font-family: Quicksand, sans-serif;
}

.ba-sektion {
  background-image: url(../img/Layer.jpg.png);
  width: 400px;
  height: 496px;
  margin-right: auto;
  margin-left: auto;
}

.ba-container {
  height: 496px;
  width: 260px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
}
.ba-title{
padding: 50px 25px 50px 0;
}

.ba-title a {
  display: inline-block;
  margin-right: 25px;
  font-family: Quicksand;
  color: #e1c2f1;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  text-decoration: none;
  padding-bottom: 4px;
}

.ba-col-12 input {
  border-style: solid;
  border-width: 2px;
  border-color: rgba(191, 185, 204, 54);
  background-color: transparent;
  height: 40px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 12px;
}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.ba-button button {
  background-color: #23ae92;
  height: 40px;
  width: 260px;
  border: none;
  font-family: Quicksand;
  color: #fbf6e4;
  font-size: 18px;
  font-weight: 700;
  
}

legend {
  font-family: Quicksand;
  color: #fbf6e4;
  font-size: 16px;
  font-weight: 700;
}

.ba-end {
  display: flex;
  justify-content: space-between;
}

.ba-end a {
  font-family: Quicksand;
  color: #b9b9cc;
  font-size: 13px;
  font-weight: 400;
  text-align: left;
  padding-top: 30px;
  letter-spacing: 0.04em;
  text-decoration: none;
  padding-bottom: 4px;
  border-bottom-color:rgb(185, 185, 204,0.4);
  border-bottom-width: 0.6px;
  border-bottom-style: solid;

}

.ba-chek {
  display: flex;
  align-items: center;
  margin-left: 30px;
  padding: 7px 0 39px 0;
  font-family: Quicksand;
  color: #fbf6e4;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.ba-tex-top:hover{
	border-bottom-color: rgba(240, 76, 76, 0.8);
	border-bottom-width: 2px;
	border-bottom-style: solid;
}